<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home Team Roster</title>

  <!-- update the version number as needed -->
  <script defer src="/__/firebase/7.14.3/firebase-app.js"></script>
  <script defer src="/__/firebase/7.14.3/firebase-auth.js"></script>
  <script defer src="/__/firebase/7.14.3/firebase-firestore.js"></script>
  <!-- initialize the SDK after all desired features are loaded -->
  <script defer src="/__/firebase/init.js"></script>

  <link rel="stylesheet" type="text/css" href="/css/vrml_overlay_onward.css">
</head>

<body style="margin: 0;">

  <div class="single_element">
    <table class="home_roster roster_table"></table>
  </div>

  <!-- Add data passed in by the request -->
  <script type="text/javascript">
    var client_name = "{{ client_name }}";
    var series_name = "{{ series_name }}";
  </script>

  <!-- Load our custom Firebase stuff -->
  <script defer src="/js/util.js"></script>
  <script defer src="/js/firebase_setup.js"></script>
  <script defer src="/js/fetch_data_methods.js"></script>

  <script src="/js/Onward/individual_rosters.js"></script>

</body>

</html>