<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Match Setup</title>

  <!-- update the version number as needed -->
  <script defer src="/__/firebase/7.14.3/firebase-app.js"></script>
  <script defer src="/__/firebase/7.14.3/firebase-auth.js"></script>
  <script defer src="/__/firebase/7.14.3/firebase-firestore.js"></script>
  <script defer src="/__/firebase/7.14.3/firebase-storage.js"></script>
  <!-- initialize the SDK after all desired features are loaded -->
  <script defer src="/__/firebase/init.js"></script>

  <script defer src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
  <link defer type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />

  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <link rel="stylesheet" type="text/css" href="/css/styles_onward.css">
  <link rel="stylesheet" type="text/css" href="/css/autocomplete_styles.css">

  <!-- Latest Sortable -->
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.10.2/Sortable.min.js"></script>

  <script defer type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/js-sha256/0.9.0/sha256.min.js"></script>
  <script type="text/javascript" src="/js/autocomplete.js"></script>

</head>

<body>

  {{!-- <a href="/casterdesk_onward?client_name={{client_name}}">
    <div class="echobutton" style="position: absolute; top: 1em; left: 1em;">
      Caster Desk
    </div>
  </a> --}}


  <div class="centered_content">


    <div id="home_team_box" style="float:left;">
      <div class="team_name home_team_name fade_in_when_done"></div>
      <img class="team_logo home_logo fade_in_when_done">
    </div>

    <div id="away_team_box" style="float:right;">
      <div class="team_name away_team_name fade_in_when_done"></div>
      <img class="team_logo away_logo fade_in_when_done">
    </div>

    <form id="player-search-box" method="get"
      style="margin:1em auto;max-width:300px;color:black;display:flex;position:relative;"
      class="header_with_background">
      <div></div>
      <input autocomplete="off" type="text" id="player_search" placeholder="Enter name" name="client_name">
      {{!-- <button type="submit" id="player_search_button"><i class="icofont-arrow-right"></i></button> --}}
    </form>

    <div id="current-caster-name"></div>


    <div class="echobutton" id="swap_sides_button">
      Home/Away is swapped?
    </div>

    <br>

    <div class="selection_list_header caster_list_header">
      Caster 1: <span class="caster_0_name"></span>
      <label for="caster_0_webcam">Webcam</label><input type="checkbox" id="caster_0_webcam"
        class="caster_webcam caster_0_webcam">
    </div>
    <div class="selection_list caster_list"></div>

    <div class="selection_list_header caster_list_header">Caster 2: <span class="caster_1_name"></span>
      <label for="caster_1_webcam">Webcam</label><input type="checkbox" id="caster_1_webcam"
        class="caster_webcam caster_1_webcam">
    </div>
    <div class="selection_list caster_list"></div>
    
    <div class="selection_list_header caster_list_header">Analyst: <span class="analyst_name"></span>
      <label for="analyst_webcam">Webcam</label><input type="checkbox" id="analyst_webcam"
        class="caster_webcam analyst_webcam">
    </div>
    <div class="selection_list caster_list"></div>

    <div class="selection_list_header map_list_header">Map 1: <span class="map_0_name"></span></div>
    <div class="selection_list map_list"></div>
    <div class="selection_list_header map_list_header">Map 2: <span class="map_1_name"></span></div>
    <div class="selection_list map_list"></div>
    <div class="selection_list_header map_list_header">Map 3: <span class="map_2_name"></span></div>
    <div class="selection_list map_list"></div>

    <table>
      <thead>
        <tr class="match_group_item">
          <th class="match_time">Match Time</th>
          <th class="home_team_logo_head"></th>
          <th class="home_team_name_head">Home Team</th>
          <th class="away_team_name_head">Away Team</th>
          <th class="away_team_logo_head"></th>
          <th class="casters">Casters</th>
        </tr>
      </thead>

      <!-- List -->
      <tbody class="list-group" id="match_list">
        <tr class="match_group_item list-group-item match-hoverable hide">
          <td class="match_id hide"></td>
          <td class="match_time"></td>
          <td class="upcoming_home_team_logo"><img /></td>
          <td class="upcoming_home_team_name"></td>
          <td class="upcoming_away_team_name" style="text-align: right;"></td>
          <td class="upcoming_away_team_logo"><img /></td>
          <td class="casters"></td>
        </tr>
        <tr class="match_group_item list-group-item match-hoverable" id="manual_input">

          <td class="match_id hide"></td>
          <td class="match_time">Manual Input</td>
          <td>Logo URL<br><br><input class="home_team_logo logo_url_input"><br><br><img class="home_team_logo_img" />
          </td>

          <td>
            <form onsubmit="return false" class="custom_team_input_form">
              <input autocomplete="off" type="text" class="home_team_name team_input force_visible">
            </form>
          </td>
          <td>
            <form onsubmit="return false" class="custom_team_input_form">
              <input autocomplete="off" type="text" class="away_team_name team_input force_visible"
                style="text-align: right;">
            </form>
          </td>

          <td>Logo URL<br><br><input class="away_team_logo logo_url_input"><br><br><img class="away_team_logo_img" />
          </td>
          <td class="casters">Manual Input</td>
        </tr>

      </tbody>

    </table>
  </div>

  <!-- Add data passed in by the request -->
  <script type="text/javascript">
    client_name = "{{ client_name }}"; custom_id = "{{ custom_id }}"; series_name = "{{ series_name }}"; live = 'true';
  </script>

  <!-- Load our custom Firebase stuff -->
  <script defer src="/js/util.js"></script>
  <script defer src="/js/firebase_setup.js"></script>
  <script defer src="/js/fetch_data_methods.js"></script>

  <script defer src="/js/Onward/match_setup_onward.js"></script>

</body>

</html>