:root {
	--main-color: white;
	--main-background-color: #7a7e81db;
	--border-color: #4d4e4d;
	--dark-border-color: #4d4e4d;
	--accent-color: #34a6a5;
	--accent-color-green: #34b567aa;
	--buttton-border-color: white;
	--button-color: #5e6b79;
	--button-hover-color: #a9adb0;

	--table-orange: #a53;
	--table-orange-background: #c672273b;
	--table-orange-dark: #711;
	--table-blue: #35a;
	--table-blue-background: #0087ff1f;
	--table-blue-dark: #117;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: var(--main-background-color);
	background: radial-gradient(circle, #b4b8bb 0%, #8a8d8f 100%);
}

.echobutton {
	width: 14em;
	height: 1em;
	display: block;
	color: white;
	text-align: center;
	margin: 1em auto 0 auto;
	padding: 2em;
	cursor: pointer;
}

.echobutton:before {
	content: "";
	position: absolute;
	display: block;
	background-color: var(--buttton-border-color);
	width: 14em;
	height: 4em;
	z-index: -2;
	transform: scale(1.1);
	clip-path: polygon(8% 0%, 100% 0%, 100% 75%, 92% 100%, 0% 100%, 0% 25%);
	margin-top: -1.42em;
}

.echobutton:after {
	content: "";
	position: absolute;
	display: block;
	background-color: var(--button-color);
	background: linear-gradient(175deg, #4d5761 0%, var(--button-color) 100%);
	width: 14.8em;
	height: 3.8em;
	z-index: -1;
	clip-path: polygon(8% 0%, 100% 0%, 100% 75%, 92% 100%, 0% 100%, 0% 25%);
	margin-top: -2.5em;
	margin-left: -0.35em;
}

.echobutton a {
	text-decoration: none;
	display: block;
	color: var(--main-color);
}

.echobutton:hover::after {
	background-color: var(--button-hover-color);
	background: linear-gradient(175deg, var(--button-hover-color) 0%, var(--button-hover-color) 100%);
}

#page_title {
	margin: auto;
	width: max-content;
}

.header_with_background {
	position: relative;
}

.header_with_background h1 {
	color: var(--main-color);
	text-transform: uppercase;
	font-family: "Courier New", Courier, monospace;
	font-weight: lighter;
}

.header_with_background>div:first-child {
	background-color: var(--border-color);
	transform: skew(-45deg);
	height: 2.8em;
	margin: 0 auto;
	width: 26em;
	position: absolute;
	top: -0.3em;
	left: -4.5em;
	z-index: -1;
}

.header_with_background>div:first-child::before {
	width: 0.5em;
	height: 1em;
	display: block;
	content: "";
	position: relative;
	left: -1em;
	top: 0;
	background-color: var(--accent-color);
	transition: top 1s;
}

.header_with_background>div:first-child::after {
	width: 0.5em;
	height: 2em;
	float: right;
	display: block;
	content: "";
	position: relative;
	right: -1em;
	top: -1em;
	background-color: var(--accent-color);
	transition: top 1s;
}

.header_with_background:hover>div:first-child::before {
	top: 65%;
}

.header_with_background:hover>div:first-child::after {
	top: -6%;
}

.echo_hr {
	height: .2em;
	background-color: var(--dark-border-color);
	border: none;
}

.echo_alert_box {
	position: relative;
	border: 0.3em solid var(--border-color);
	border-top: 1.5em solid var(--border-color);
	padding: 1em;
	background-color: var(--main-background-color);
	text-align: center;
	margin: 3em auto 3em auto;
	width: max-content;
	/* color: var(--main-color); */
}

.team_name {
	text-align: left;
}

.team_logo {
	float: right;
	width: 5em;
}

.stats_table {
	color: var(--main-color);
	background-color: var(--main-background-color);
}

.stats_table tr {
	border-spacing: 0.5em;
	background-color: var(--border-color);
}

.stats_table td,
th {
	padding: 1em;
}

.stats_table .orange {
	background-color: var(--table-orange);
}

.stats_table .orange tr {
	background-color: var(--table-orange-dark);
}

.stats_table .blue {
	background-color: var(--table-blue);
}

.stats_table .blue tr {
	background-color: var(--table-blue-dark);
}

.stats_table img {
	max-height: 2em;
	margin: -1em;
}

.orange_player_stats_board td {
	background-color: var(--table-orange-background);
}

.blue_player_stats_board td {
	background-color: var(--table-blue-background);
}

.hide {
	display: none;
}

.filtered_out {
	display: none;
}

.search_box {
	padding: 1em;
	color: white;
	background-color: var(--border-color);
	border: none;
	border-radius: 0.4em;
	outline: none;
	width: 10em;
	font-size: 1.2em;
	margin: auto;
	display: block;
	transition: background-color 0.2s;
}

.search_box:hover {
	background-color: #5c5c5c;
}

.search_box::placeholder:hover {
	color: white;
}

.search_box:active {
	background-color: #414141;
}

#player_search {
	position: relative;
	padding: .5em;
	width: 20em;
	color: #bfbfbf;
	background-color: transparent;
	font-size: 1.1em;
	font-weight: 100;
	letter-spacing: 2px;
	border: none;
	/* border-radius: 5px; */
	transition: width, background-color 0.4s ease;
	outline: none;
	margin: -.1em;
}

#player_search:hover {
	background-color: #555;
	color: white;
}

#player_search_button {
	position: absolute;
	right: 0;
	top: -.1em;
	font-weight: 100;
	color: var(--accent-color);
	border: none;
	background: none;
	font-size: 2em;
}

#current-caster-name {
	text-align: center;
	margin: 1em;
	font-size: 1.2em;
	height: 2em;
	font-family: 'Consolas', 'Courier New', Courier, monospace;
}

.match_group_item {
	list-style: none;
	background-color: #4e515380;
	padding: 0.5em;
	margin: 0.2em;
	transition: transform 0.1s;
	animation: fade_in 0.5s;
}

.match_group_item:after {
	content: "";
	position: absolute;
	display: block;
	top: -0.33em;
	left: -0.33em;
	border-top: 1em solid #717377;
	border-right: 1em solid transparent;
}

.match_group_item td {
	padding: 0.5em;
	position: relative;
}

.match_group_splitter {
	height: 1em;
	background-color: #1a1a1a;
	cursor: grab;
}

.game_clock_duration_bar {
	position: absolute;
	left: 0;
	top: 0;
	background-color: #4d4e4daa;
	height: 100%;
	z-index: -1;
}

.centered_content {
	margin: 3em auto 3em auto;
	width: max-content;
}

.match_highlighted {
	background-color: var(--accent-color-green);
}

.disabled_match {
	text-decoration: line-through;
	color: #0008;
	background-color: #88888888;
	transform: scaleY(0.75);
}

.td_button {
	text-align: center;
	font-weight: bold;
}

.td_button:hover {
	cursor: pointer;
	background-color: #a84343;
}

.match_group_item img {
	height: 4em;
	margin: -0.4em;
}

#match_list input {
	background-color: #9a9d9f;
	padding: 0.5em;
	border: 1px solid white;
	color: black;
}


.casterdesk_container {
	display: flex;
	margin: 0 auto;
	max-width: 100em;
}

.casterdesk_container div {
	background-color: #0001;
	margin: 1em;
	padding: 1em;
}

.casterdesk_container>div {
	box-shadow: 0 0 1em #0005;
}

.casterdesk_container .sidebar_container {
	/* flex: 0 0 20%; */
	max-width: 20em;
	width: 20em;
	position: relative;
	overflow: hidden;
}

.casterdesk_container .sidebar_container::after {
	content: "";
	position: absolute;
	top: -1.4em;
	left: -.4em;
	width: 2em;
	height: 4em;
	transform: rotate(45deg);
}

.casterdesk_container .sidebar_container.home {
	border: .1em solid var(--table-orange);
}

.casterdesk_container .sidebar_container.away {
	border: .1em solid var(--table-blue);
}

.casterdesk_container .sidebar_container.home::after {
	background-color: var(--table-orange);
}

.casterdesk_container .sidebar_container.away::after {
	background-color: var(--table-blue);
}

.casterdesk_container .center_container {
	/* flex: 0 0 60%; */
	max-width: 60em;
	width: 60em;
	border: .1em solid black;
}

.casterdesk_container .team_percentages table {
	width: 100%;
}

.casterdesk_container .team_percentages tr>td:nth-child(1),
.casterdesk_container .team_percentages tr>td:nth-child(2) {
	background-color: var(--table-orange-background);
}

.casterdesk_container .team_percentages tr>td:nth-child(4),
.casterdesk_container .team_percentages tr>td:nth-child(5) {
	background-color: var(--table-blue-background);
}

.casterdesk_container table {
	text-align: center;
	border-collapse: collapse;
	width: 100%;
}

.casterdesk_container table tr {
	/* border: 1px solid #353535; */
}

.casterdesk_container table tr:hover {
	background-color: #0001;
}

.casterdesk_container table th {
	background-color: #353535;
	color: #c4c4c4;
}

.casterdesk_container table td,
.casterdesk_container table th {
	padding: .5em;
	border: 1px solid #555;
}

.casterdesk_container .roster_table {
	margin: 0 auto;
}

.casterdesk_container .roster_table td,
.casterdesk_container .roster_table th {
	padding: .5em;
	border: none;
}

.casterdesk_container .sidebar_container a {
	text-align: center;
	text-decoration: none;
	color: black;
}

.casterdesk_container .sidebar_container a:hover {
	color: #444;
}

.casterdesk_container .sidebar_logo {
	max-width: 240px;
	width: 100%;
	display: block;
	margin: 0 auto;
}

.casterdesk_container .sidebar_rank {
	vertical-align: middle;
}

.casterdesk_container .sidebar_mmr {
	font-weight: bold;
}

.center {
	text-align: center;
}

@keyframes fade_in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}