@font-face {
    font-family: goodtimes;
    src: url(../fonts/goodtimes.ttf);
}

@font-face {
    font-family: furore;
    src: url(../fonts/Furore.otf);
}

@font-face {
    font-family: big_noodle_titling;
    src: url(../fonts/big_noodle_titling.ttf);
}


#background_container {
    position: fixed;
    transition: opacity .5s;
    -webkit-text-stroke: 1px black;
    color: #ccc;
    font-family: goodtimes;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
}

.fade_in_when_done {
    transition: opacity .75s;
    opacity: 0;
}

.preshow_layout_onward .team_logo {
    position: absolute;
    top: 267px;
    height: 260px;
    width: auto;
}

.preshow_layout_onward .home_logo {
    left: 1090px;
}

.preshow_layout_onward .away_logo {
    left: 1565px;
}

.preshow_layout_onward .team_name_box {
    position: absolute;
    top: 560px;
    width: 325px;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
}

.preshow_layout_onward #home_team_name_box {
    left: 1060px;
}

.preshow_layout_onward #away_team_name_box {
    left: 1530px;
}




/* Scoreboard */

.scoreboard_layout_onward .team_logo {
    position: absolute;
    top: 51px;
    width: 120px;
}

.scoreboard_layout_onward .home_logo {
    left: 65px;
}

.scoreboard_layout_onward .away_logo {
    right: 61px;
}

.scoreboard_layout_onward .team_name_box {
    position: absolute;
    top: 75px;
}

.scoreboard_layout_onward #home_team_name_box {
    left: 330px;
}

.scoreboard_layout_onward #away_team_name_box {
    right: 330px;
}

.scoreboard_layout_onward .caster_img_box {
    position: absolute;
    top: 240px;
}

.scoreboard_layout_onward .caster_0_img_box {
    left: 170px;
    top: 234px;
}

.scoreboard_layout_onward .caster_1_img_box {
    right: 170px;
}

.scoreboard_layout_onward .analyst_box {
    position: absolute;
    bottom: 25px;
}


/* Single caster views */
.single_element {
    transition: opacity .5s;
    -webkit-text-stroke: 1px black;
    color: #ccc;
    font-family: goodtimes;
}

.caster_img_box {
    width: 320px;
    height: 275px;
}

.caster_name {
    width: 100%;
    text-align: center;
    font-size: 45px;
    -webkit-text-stroke: 1px black;
    color: #ccc;
    font-family: furore;
}

.caster_img {
    height: 220px;
    display: block;
    margin: auto;
    margin-top: 10px;
}

.analyst_box {
    width: 100%;
    font-family: furore;
    -webkit-text-stroke: 1px black;
    color: #ccc;
    font-size: 35px;
}

.analyst_box div {
    text-align: center;
}

.team_name_box {
    width: 600px;
    line-height: 75px;
    font-size: 30px;
    text-align: center;
}

.team_logo {
    width: 128px;
}

.single_element .roster_table {
    width: 100%;
    font-family: goodtimes;
    -webkit-text-stroke: 1px black;
    color: #ccc;
    font-size: 35px;
    text-align: center;
}