@font-face {
	font-family: goodtimes;
	src: url(../fonts/goodtimes.ttf);
}

#background_container {
	position: fixed;
}

#homebox {
	position: fixed;
	left: 36px;
	top: 134px;
	width: 304px;
	height: 316px;
	background: #00000040;
}

#awaybox {
	position: fixed;
	left: 1575px;
	top: 134px;
	width: 304px;
	height: 316px;
	background: #00000040;
}

#homelogo {
	position: relative;
	width: 240px;
	height: 240px;
	left: 32px;
}

#awaylogo {
	position: relative;
	width: 240px;
	height: 240px;
	left: 32px;
}

#home_background_container {
	position: fixed;
	left: 36px;
	top: 134px;
	background: #00000040;
	height: 660px;
	width: 304px;
}

#away_background_container {
	position: fixed;
	left: 1575px;
	top: 134px;
	background: #00000040;
	height: 660px;
	width: 304px;
}

#homerank {
	position: fixed;
	left: 66px;
	top: 400px;
}

#awayrank {
	position: fixed;
	left: 1602px;
	top: 400px;
}

#homemmr {
	position: fixed;
	left: 115px;
	top: 390px;
	color: white;
	font-family: goodtimes;
	left: 100;
	font-size: larger;
}

#awaymmr {
	position: fixed;
	left: 1655px;
	top: 390px;
	color: white;
	font-family: goodtimes;
	left: 100;
	font-size: larger;
}

#homeroster {
	position: fixed;
	top: 450px;
	width: 304px;
	text-align: center;
	color: white;
	font-size: x-large;
	border-spacing: 0 25px;
	font-family: goodtimes;
}

#awayroster {
	position: fixed;
	top: 450px;
	width: 304px;
	text-align: center;
	color: white;
	font-size: x-large;
	border-spacing: 0 25px;
	font-family: goodtimes;
}

#stats_overlay_container table {
	border-collapse: collapse;
}

#stats_overlay_container td {
	border: none;
}

#stats_overlay_container th {
	border: none;
}

#stats_overlay_container {
	width: 1920px;
	height: 1080px;
	color: #F5F5F5;
}

#orangeplayerhead {
	position: fixed;
	bottom: 173px;
	left: 183px;
	width: 724px;
	height: 33px;
	text-align: center;
}

#orangeplayerhead tr {
	height: 33px;
	background: #240407;
}

#orangeplayerstable {
	position: fixed;
	bottom: 28px;
	left: 183px;
	width: 724px;
	height: 145px;
	text-align: center;
	border-collapse: separate !important;
	border-spacing: 0 6px;
	background-color: rgba(255, 150, 50, 0.7);
	visibility: hidden;
}

#blueplayerstable {
	position: fixed;
	bottom: 28px;
	right: 183px;
	width: 724px;
	height: 145px;
	background-color: rgba(50, 150, 255, 0.7);
	text-align: center;
	border-collapse: separate !important;
	border-spacing: 0 6px;
	visibility: hidden;
}

#blueplayerhead {
	font-family: goodtimes;
	position: fixed;
	bottom: 173px;
	right: 183px;
	width: 724px;
	height: 33px;
	text-align: center;
}

#blueplayerhead tr {
	height: 33px;
	background: #0b0b13;
}

#blueplayerstable tr td:first-child {
	text-align: left;
	padding-left: 10px;
	width: 248px;
}

#orangeplayerstable tr td:first-child {
	text-align: left;
	padding-left: 10px;
	width: 248px;
}

.playerhead {
	font-family: goodtimes;
	font-size: 12px;
}

.playerhead tr td:first-child {
	width: 248px;
}

.playerhead tr td {
	width: 95px;
}

.playerstats {
	font-family: Arial, Helvetica, sans-serif;

}

.playerstats tr td {
	width: 95px;
	background-color: rgba(0, 0, 0, 0.4);
}

#orangestats {
	font-family: goodtimes;
	position: fixed;
	bottom: 28px;
	left: 0;
	width: 174;
	height: 178px;
	background-image: linear-gradient(to top right, #7e3c37, #240407);
	border-collapse: separate !important;
	border-spacing: 0 6px;
	border-right: 4px solid #4c4e4d;
	border-left: 2px solid #4c4e4d;
	visibility: hidden;
}

#bluestats {
	font-family: goodtimes;
	position: fixed;
	bottom: 28px;
	right: 0;
	width: 174;
	height: 178px;
	background-image: linear-gradient(to top right, #4a6075, #0e0b14);
	border-collapse: separate !important;
	border-spacing: 0 6px;
	border-left: 4px solid #4c4e4d;
	border-right: 2px solid #4c4e4d;
	visibility: hidden;
}

#orangestats tr td:first-child {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-align: center;
	width: 40px;
	background-color: rgba(221, 147, 74, 0.7);
}

#orangestats tr td:last-child {
	font-size: 12px;
	text-align: center;
	width: 134px;
}

#bluestats tr td:first-child {
	text-align: center;
	width: 134px;
	font-size: 12px;
}

#bluestats tr td:last-child {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-align: center;
	width: 40px;
	background-color: rgba(73, 145, 221, 0.6);
}