#homebox {
	background-color: gray;
}

.stats_overlay_container .blue_player_stats_board {
	bottom: auto;
	position: absolute;
	top: 2em;
}

.stats_overlay_container .orange_player_stats_board {
	bottom: auto;
	position: absolute;
	top: 2em;
}

.stats_overlay_container .orangeplayerhead {
	bottom: auto;
	position: absolute;
}

.stats_overlay_container .blueplayerhead {
	bottom: auto;
	position: absolute;
}

.stats_overlay_container .orangestats {
	bottom: auto;
	position: absolute;
}

.stats_overlay_container .bluestats {
	bottom: auto;
	position: absolute;
}

.stats_overlay_container {
	width: auto;
	height: 10em;
	position: relative;
}