<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Caster Desk</title>

  <!-- update the version number as needed -->
  <script defer src="/__/firebase/7.14.3/firebase-app.js"></script>
  <!-- include only the Firebase features as you need -->
  <script defer src="/__/firebase/7.14.3/firebase-auth.js"></script>
  {{!-- <script defer src="/__/firebase/7.14.3/firebase-database.js"></script> --}}
  {{!-- <script defer src="/__/firebase/7.14.3/firebase-messaging.js"></script> --}}
  <script defer src="/__/firebase/7.14.3/firebase-firestore.js"></script>
  {{!-- <script defer src="/__/firebase/7.14.3/firebase-storage.js"></script> --}}
  {{!-- <script defer src="/__/firebase/7.14.3/firebase-analytics.js"></script> --}}
  <!-- initialize the SDK after all desired features are loaded -->
  <script defer src="/__/firebase/init.js"></script>

  <script defer src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
  <link defer type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />

  <link rel="stylesheet" type="text/css" href="css/icofont.min.css">
  <link rel="stylesheet" type="text/css" href="css/vrml_overlay.css">
  <link rel="stylesheet" type="text/css" href="css/vrml_overlay_corrected_to_normal.css">
  <link rel="stylesheet" type="text/css" href="css/styles.css">
  <link rel="stylesheet" type="text/css" href="css/autocomplete_styles.css">

  <script defer type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/js-sha256/0.9.0/sha256.min.js"></script>
  <script type="text/javascript" src="js/autocomplete.js"></script>

</head>

<body>

  <div id="firebaseui-auth-container"></div>


  <a href="/match_setup?client_name={{client_name}}">
    <div class="echobutton" style="position: absolute; top: 1em; left: 1em;">
      Match Setup
    </div>
  </a>

  {{!-- Top Content --}}
  <form id="player-search-box" method="get"
    style="margin:1em auto;max-width:300px;color:black;display:flex;position:relative;" class="header_with_background">
    <div></div>
    <input autocomplete="off" type="text" id="player_search" placeholder="Enter Oculus name" name="client_name">
    {{!-- <button type="submit" id="player_search_button"><i class="icofont-arrow-right"></i></button> --}}
  </form>

  <div id="current-caster-name"></div>

  <hr class="echo_hr" style="width: 40em;">


  <div class="casterdesk_container">

    {{!-- Left Column --}}
    <div class="sidebar_container home">
      <a class="home_team_page">
        <h2 class="home_team_name fade_in_when_done"></h2>
      </a>
      <img class="sidebar_logo home_logo fade_in_when_done">
      <p class="center">
        <img class="sidebar_rank home_rank">
        <span class="sidebar_mmr home_mmr"></span>
      </p>
      <table class="roster_table home_roster"></table>
      <br>
      <table class="recent_matches_table">
        <tr>
          <th colspan="3">Match History</th>
        </tr>
        <tbody class="home_recent_matches"></tbody>
      </table>
    </div>

    {{!-- Center Column --}}
    <div class="center_container">

      <div class="atlas_buttons fade_hide">
        <p class="atlas_header">ATLAS</p>
        <a style="float:left; text-decoration: none;" class="atlas_player_join">
          <div class="echobutton small">Join as Player</div>
        </a>
        <a style="float:left; text-decoration: none;" class="atlas_spectator_join">
          <div class="echobutton small">Join as Spectator</div>
        </a>
      </div>

      <div class="previous_matchups fade_hide">
        <table>
          <thead>
            <tr>
              <th colspan="7">Previous Matchups</th>
            </tr>
          </thead>
          <tbody class="prev_head2head"></tbody>
        </table>
      </div>

      <div class="round_scores fade_hide">
        <table>
          <thead>
            <tr>
              <th colspan="5">Rounds</th>
            </tr>
            <tr>
              <th>Time Since<br>Round Start</th>
              <th>IgniteBot Version</th>
              <th>Orange Score</th>
              <th>Blue Score</th>
              <th>Finished</th>
            </tr>
          </thead>
          <tbody class="prev_round_scores"></tbody>
        </table>
      </div>

      <div class="team_percentages">
        <table>
          <tr>
            <th class="home_team_name" colspan="2"></th>
            <th>Team Stats</th>
            <th class="away_team_name" colspan="2"></th>
          </tr>
          <tr>
            <td class="home_team_possession_time_perc"></td>
            <td class="home_team_possession_time"></td>
            <td>Possession</td>
            <td class="away_team_possession_time"></td>
            <td class="away_team_possession_time_perc"></td>
          </tr>
          <tr>
            <td class="home_team_shots_taken_perc"></td>
            <td class="home_team_shots_taken"></td>
            <td>Shots Taken</td>
            <td class="away_team_shots_taken"></td>
            <td class="away_team_shots_taken_perc"></td>
          </tr>
          <tr>
            <td class="home_team_assists_perc"></td>
            <td class="home_team_assists"></td>
            <td>Assists</td>
            <td class="away_team_assists"></td>
            <td class="away_team_assists_perc"></td>
          </tr>
          <tr>
            <td class="home_team_saves_perc"></td>
            <td class="home_team_saves"></td>
            <td>Saves</td>
            <td class="away_team_saves"></td>
            <td class="away_team_saves_perc"></td>
          </tr>
          <tr>
            <td class="home_team_steals_perc"></td>
            <td class="home_team_steals"></td>
            <td>Steals</td>
            <td class="away_team_steals"></td>
            <td class="away_team_steals_perc"></td>
          </tr>
          <tr>
            <td class="home_team_stuns_perc"></td>
            <td class="home_team_stuns"></td>
            <td>Stuns</td>
            <td class="away_team_stuns"></td>
            <td class="away_team_stuns_perc"></td>
          </tr>
        </table>
      </div>
      <div class="statsboard">
        <table>
          <thead>
            <tr>
              <th colspan="8" class="home_team_name">Home Team</th>
            </tr>
            <tr>
              <th>Player</th>
              <th>Points</th>
              <th>Assists</th>
              <th>Saves</th>
              <th>Steals</th>
              <th>Stuns</th>
              <th>Possession</th>
              <th>Shots</th>
            </tr>
          </thead>
          <tbody class="orange_player_stats_board"></tbody>
        </table>
        <br>
        <table>
          <thead>
            <tr>
              <th colspan="8" class="away_team_name">Away Team</th>
            </tr>
            <tr>
              <th>Player</th>
              <th>Points</th>
              <th>Assists</th>
              <th>Saves</th>
              <th>Steals</th>
              <th>Stuns</th>
              <th>Possession</th>
              <th>Shots</th>
            </tr>
          </thead>
          <tbody class="blue_player_stats_board"></tbody>
        </table>
      </div>
      <div class="jousts fade_hide">
        <table>
          <thead>
            <tr>
              <th>Jousts</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
      <div class="goals fade_hide">
        <table>
          <thead>
            <tr>
              <th>Goals</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>


    {{!-- Right Column --}}
    <div class="sidebar_container away">
      <a class="away_team_page">
        <h2 class="away_team_name fade_in_when_done"></h2>
      </a>
      <img class="sidebar_logo away_logo fade_in_when_done">
      <p class="center">
        <img class="sidebar_rank away_rank">
        <span class="sidebar_mmr away_mmr"></span>
      </p>
      <table class="roster_table away_roster"></table>
      <br>
      <table class="recent_matches_table">
        <tr>
          <th colspan="3">Match History</th>
        </tr>
        <tbody class="away_recent_matches"></tbody>
      </table>
    </div>
  </div>


  <!-- Add data passed in by the request -->
  <script type="text/javascript">
    client_name = "{{ client_name }}"; series_name = "{{ series_name }}"; live = "{{ live }}";
  </script>

  <!-- Load our custom Firebase stuff -->
  <script defer src="js/util.js"></script>
  <script defer src="js/firebase_setup.js"></script>
  <script defer src="js/fetch_data_methods.js"></script>

  <script defer src="js/casterdesk.js"></script>

</body>

</html>