<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Match Data</title>

  <!-- update the version number as needed -->
  <script defer src="/__/firebase/7.14.3/firebase-app.js"></script>
  <!-- include only the Firebase features as you need -->
  <script defer src="/__/firebase/7.14.3/firebase-auth.js"></script>
  {{!-- <script defer src="/__/firebase/7.14.3/firebase-database.js"></script> --}}
  {{!-- <script defer src="/__/firebase/7.14.3/firebase-messaging.js"></script> --}}
  <script defer src="/__/firebase/7.14.3/firebase-firestore.js"></script>
  {{!-- <script defer src="/__/firebase/7.14.3/firebase-storage.js"></script> --}}
  {{!-- <script defer src="/__/firebase/7.14.3/firebase-analytics.js"></script> --}}
  <!-- initialize the SDK after all desired features are loaded -->
  <script defer src="/__/firebase/init.js"></script>

  <script defer src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
  <link defer type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />


  <link rel="stylesheet" type="text/css" href="css/vrml_overlay.css">
  <link rel="stylesheet" type="text/css" href="css/vrml_overlay_corrected_to_normal.css">
  <link rel="stylesheet" type="text/css" href="css/styles.css">
  <link rel="stylesheet" type="text/css" href="css/autocomplete_styles.css">

  <!-- Latest Sortable -->
  <script defer src="https://SortableJS.github.io/Sortable/Sortable.js"></script>

  <script defer type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/js-sha256/0.9.0/sha256.min.js"></script>
  <script type="text/javascript" src="js/autocomplete.js"></script>

</head>

<body>

  <a href="/casterdesk">
    <div class="echobutton" style="position: absolute; top: 1em; left: 1em;">
      Caster Desk
    </div>
  </a>

  <div class="centered_content">

    <form id="player-search-box" method="get"
      style="margin:1em auto;max-width:300px;color:black;display:flex;position:relative;">
      <input autocomplete="off" type="text" id="player_search" placeholder="Enter Oculus name" name="client_name">
      <button type="submit" id="player_search_button">&gt;</button>
    </form>

    <div id="current-caster-name"></div>


    <div class="echobutton" id="swap_sides_button">
      Home/Away is swapped?
    </div>

    <br>

    <table>
      <thead>
        <tr class="match_group_item">
          <th class="match_time">Match Time</th>
          <th class="home_team_logo"></th>
          <th class="home_team_name">Home Team</th>
          <th class="away_team_name">Away Team</th>
          <th class="away_team_logo"></th>
          <th class="casters">Casters</th>
        </tr>
      </thead>

      <!-- List -->
      <tbody class="list-group" id="match_list">
        <tr class="match_group_item list-group-item match-hoverable hide">
          <td class="match_id hide"></td>
          <td class="match_time"></td>
          <td class="home_team_logo"><img /></td>
          <td class="home_team_name"></td>
          <td class="away_team_name" style="text-align: right;"></td>
          <td class="away_team_logo"><img /></td>
          <td class="casters"></td>
        </tr>

        <tr class="match_group_item list-group-item match-hoverable" id="manual_input">
          <td class="match_id hide"></td>
          <td class="match_time">Manual Input</td>
          <td>URL for logo<br><br><input class="home_team_logo"><br><img class="hide" /></td>
          <td><input class="home_team_name"></td>
          <td><input class="away_team_name" style="text-align: right;"></td>
          <td>URL for logo<br><br><input class="away_team_logo"><br><img class="hide" /></td>
          <td class="casters">Manual Input</td>
        </tr>
      </tbody>

    </table>
  </div>

  <!-- Add data passed in by the request -->
  <script type="text/javascript">
    client_name = "{{ client_name }}"; custom_id = "{{ custom_id }}"; series_name = "{{ series_name }}"; live = 'true';
  </script>

  <!-- Load our custom Firebase stuff -->
  <script defer src="js/util.js"></script>
  <script defer src="js/firebase_setup.js"></script>
  <script defer src="js/fetch_data_methods.js"></script>
  
  <script defer src="js/match_setup.js"></script>

</body>

</html>