<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Match Data</title>

  <!-- update the version number as needed -->
  <script defer src="/__/firebase/7.14.3/firebase-app.js"></script>
  <!-- include only the Firebase features as you need -->
  <script defer src="/__/firebase/7.14.3/firebase-auth.js"></script>
  <script defer src="/__/firebase/7.14.3/firebase-database.js"></script>
  <script defer src="/__/firebase/7.14.3/firebase-messaging.js"></script>
  <script defer src="/__/firebase/7.14.3/firebase-firestore.js"></script>
  <script defer src="/__/firebase/7.14.3/firebase-storage.js"></script>
  <script defer src="/__/firebase/7.14.3/firebase-analytics.js"></script>
  <!-- initialize the SDK after all desired features are loaded -->
  <script defer src="/__/firebase/init.js"></script>

  <!-- <link rel="stylesheet" type="text/css" href="css/styles.css"> -->
  <link rel="stylesheet" type="text/css" href="css/vrml_overlay.css">
</head>

<body>
  <div id="container">
    <table id="orangestats">
    </table>

    <table id="orangeplayerhead" class="playerhead"></table>
    <table id="orangeplayerstable" class="playerstats"></table>
    <table id="blueplayerhead" class="playerhead"></table>
    <table id="blueplayerstable" class="playerstats"></table>

    <table id="bluestats">
    </table>

  </div>

  <!-- Add data passed in by the request -->
  <script type="text/javascript">client_name = "{{ client_name }}"</script>

  <!-- Load our custom Firebase stuff -->
  <script defer src="js/match_data_page.js"></script>

</body>

</html>