<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Match Data</title>

  <!-- update the version number as needed -->
  <script defer src="/__/firebase/7.14.3/firebase-app.js"></script>
  <!-- include only the Firebase features as you need -->
  <script defer src="/__/firebase/7.14.3/firebase-auth.js"></script>
  <script defer src="/__/firebase/7.14.3/firebase-database.js"></script>
  <script defer src="/__/firebase/7.14.3/firebase-messaging.js"></script>
  <script defer src="/__/firebase/7.14.3/firebase-firestore.js"></script>
  <script defer src="/__/firebase/7.14.3/firebase-storage.js"></script>
  <script defer src="/__/firebase/7.14.3/firebase-analytics.js"></script>
  <!-- initialize the SDK after all desired features are loaded -->
  <script defer src="/__/firebase/init.js"></script>

  <!-- <link rel="stylesheet" type="text/css" href="css/styles.css"> -->
  <link rel="stylesheet" type="text/css" href="css/vrml_overlay.css">
</head>

<body style="margin: 0;">
  <div id="background_container" class="midmatch_layout">
    <div id="home_team_box">
      <div id="home_team_name"></div>
      <div id="homemmr"></div>
      <img id="homelogo" src="https://vrmasterleague.com/images/team_logo_120.png">
      <img id="homerank" src="">
    </div>

    <div id="away_team_box">
      <div id="away_team_name"></div>
      <div id="awaymmr"></div>
      <img id="awaylogo" src="https://vrmasterleague.com/images/team_logo_120.png">
      <img id="awayrank" src="">
    </div>
  </div>

  <!-- Add data passed in by the request -->
  <script type="text/javascript">
    client_name = "{{ client_name }}"; custom_id = "{{ custom_id }}"; series_name = "{{ series_name }}"; live = "{{ live }}";
  </script>

  <!-- Load our custom Firebase stuff -->
  <script defer src="js/match_data_prematch.js"></script>

</body>

</html>