<body>
  <div id="stats_overlay_container">
    <table id="orangestats" style="visibility: visible;"><tbody><tr><td>51%</td><td>POSSESSION</td></tr><tr><td>30%</td><td>SHOTS TAKEN</td></tr><tr><td>9%</td><td>ASSISTS</td></tr><tr><td>55%</td><td>SAVES</td></tr><tr><td>11%</td><td>STEALS</td></tr><tr><td>42%</td><td>STUNS</td></tr></tbody></table>

    <table id="orangeplayerhead" class="playerhead" style="visibility: visible;"><tbody><tr><td>PLAYER</td><td>POINTS</td><td>ASSISTS</td><td>SAVES</td><td>STEALS</td><td>STUNS</td></tr></tbody></table>
    <table id="orangeplayerstable" class="playerstats" style="visibility: visible;"><tbody><tr><td>Arty_G</td><td>2</td><td>0</td><td>0</td><td>0</td><td>24</td></tr><tr><td>FiveSpottedDog</td><td>0</td><td>0</td><td>1</td><td>0</td><td>18</td></tr><tr><td>Leaf_around</td><td>0</td><td>1</td><td>5</td><td>0</td><td>14</td></tr><tr><td>really_reals</td><td>2</td><td>0</td><td>0</td><td>1</td><td>20</td></tr></tbody></table>
    <table id="blueplayerhead" class="playerhead" style="visibility: visible;"><tbody><tr><td>PLAYER</td><td>POINTS</td><td>ASSISTS</td><td>SAVES</td><td>STEALS</td><td>STUNS</td></tr></tbody></table>
    <table id="blueplayerstable" class="playerstats" style="visibility: visible;"><tbody><tr><td>DaeFox</td><td>5</td><td>4</td><td>2</td><td>4</td><td>17</td></tr><tr><td>MercyHunter</td><td>12</td><td>2</td><td>1</td><td>2</td><td>49</td></tr><tr><td>Rogar_</td><td>4</td><td>1</td><td>1</td><td>1</td><td>21</td></tr><tr><td>billyisms</td><td>9</td><td>3</td><td>1</td><td>1</td><td>18</td></tr></tbody></table>

    <table id="bluestats" style="visibility: visible;"><tbody><tr><td>POSSESSION</td><td>49%</td></tr><tr><td>SHOTS TAKEN</td><td>70%</td></tr><tr><td>ASSISTS</td><td>91%</td></tr><tr><td>SAVES</td><td>45%</td></tr><tr><td>STEALS</td><td>89%</td></tr><tr><td>STUNS</td><td>58%</td></tr></tbody></table>

  </div>

  <!-- Add data passed in by the request -->
  <script type="text/javascript">
    client_name = "Palidore"; custom_id = ""; series_name = ""; live = "false";
  </script>

  <!-- Load our custom Firebase stuff -->
  <script defer="" src="js/match_data_page.js"></script>



</body>