<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Match Data</title>

  <!-- update the version number as needed -->
  <script defer src="/__/firebase/7.14.3/firebase-app.js"></script>
  <script defer src="/__/firebase/7.14.3/firebase-auth.js"></script>
  <script defer src="/__/firebase/7.14.3/firebase-firestore.js"></script>
  <script defer src="/__/firebase/init.js"></script>

  <link rel="stylesheet" type="text/css" href="/css/cvre_overlay.css">
</head>

<body>

  <div id="background_container" class="scoreboard_container fade_in_when_done">

    <div class="scoreboard_stats">

      <table class="playerstats_table blue">
        <thead class="playerhead blue">
          <tr>
            <th>PLAYER</th>
            <th>PTS</th>
            <th>AST</th>
            <th>SAV</th>
            <th>STL</th>
            <th>STN</th>
            {{!-- <th>POSS</th>
          <th>ATT</th> --}}
          </tr>
        </thead>

        {{!-- Actual player data --}}
        <tbody class="blue_player_stats_board playerstats blue">

        </tbody>

        {{!-- Team percentages --}}
        <tfoot class="team_stats blue">
          <tr>
            <td class="totals">TOTALS</td>
            <td class="away_team_points_perc"></td>
            <td class="away_team_assists_perc"></td>
            <td class="away_team_saves_perc"></td>
            <td class="away_team_steals_perc"></td>
            <td class="away_team_stuns_perc"></td>
            {{!-- <td class="away_team_possession_time_perc"></td>
          <td class="away_team_shots_taken_perc"></td> --}}
          </tr>
        </tfoot>
      </table>
      
    </div>


  </div>

  <!-- Add data passed in by the request -->
  <script type="text/javascript">
    client_name = "{{ client_name }}"; series_name = "{{ series_name }}"; live = "{{ live }}";
    if (series_name == "") {
      series_name = "cvre";
    }
  </script>

  <!-- Load our custom Firebase stuff -->
  <script defer src="/js/util.js"></script>
  <script defer src="/js/firebase_setup.js"></script>
  <script defer src="/js/fetch_data_methods.js"></script>

  <script defer src="/js/CVRE/cvre_stats.js"></script>

</body>

</html>