<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Match Awards</title>

  <!-- update the version number as needed -->
  <script defer src="/__/firebase/7.14.3/firebase-app.js"></script>
  <!-- include only the Firebase features as you need -->
  <script defer src="/__/firebase/7.14.3/firebase-auth.js"></script>
  {{!-- <script defer src="/__/firebase/7.14.3/firebase-database.js"></script> --}}
  {{!-- <script defer src="/__/firebase/7.14.3/firebase-messaging.js"></script> --}}
  <script defer src="/__/firebase/7.14.3/firebase-firestore.js"></script>
  {{!-- <script defer src="/__/firebase/7.14.3/firebase-storage.js"></script> --}}
  {{!-- <script defer src="/__/firebase/7.14.3/firebase-analytics.js"></script> --}}
  <!-- initialize the SDK after all desired features are loaded -->
  <script defer src="/__/firebase/init.js"></script>

  <!-- <link rel="stylesheet" type="text/css" href="css/styles.css"> -->
  <link rel="stylesheet" type="text/css" href="/css/cvre_overlay.css">
</head>

<body>

  <div id="background_container" class="cvre_match_awards_container fade_in_when_done">

    <div id="match_awards"></div>

  </div>

  <!-- Add data passed in by the request -->
  <script type="text/javascript">
    client_name = "{{ client_name }}"; series_name = "{{ series_name }}"; live = "{{ live }}";
  </script>

  <!-- Load our custom Firebase stuff -->
  <script defer src="/js/util.js"></script>
  <script defer src="/js/firebase_setup.js"></script>
  <script defer src="/js/fetch_data_methods.js"></script>

  <script defer src="/js/CVRE/match_awards.js"></script>


</body>

</html>