<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Match Data</title>

  <!-- update the version number as needed -->
  <script defer src="/__/firebase/7.14.3/firebase-app.js"></script>
  <!-- include only the Firebase features as you need -->
  <script defer src="/__/firebase/7.14.3/firebase-auth.js"></script>
  {{!-- <script defer src="/__/firebase/7.14.3/firebase-database.js"></script> --}}
  {{!-- <script defer src="/__/firebase/7.14.3/firebase-messaging.js"></script> --}}
  <script defer src="/__/firebase/7.14.3/firebase-firestore.js"></script>
  {{!-- <script defer src="/__/firebase/7.14.3/firebase-storage.js"></script> --}}
  {{!-- <script defer src="/__/firebase/7.14.3/firebase-analytics.js"></script> --}}
  <!-- initialize the SDK after all desired features are loaded -->
  <script defer src="/__/firebase/init.js"></script>

  <script defer src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
  <link defer type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />


  <link rel="stylesheet" type="text/css" href="css/vrml_overlay.css">
  <link rel="stylesheet" type="text/css" href="css/vrml_overlay_corrected_to_normal.css">
  <link rel="stylesheet" type="text/css" href="css/styles.css">

  <!-- Latest Sortable -->
  <script defer src="https://SortableJS.github.io/Sortable/Sortable.js"></script>

  <script defer type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/js-sha256/0.9.0/sha256.min.js"></script>

</head>

<body>

  <div id="firebaseui-auth-container"></div>

  <div class="stats_overlay_container fade_in_when_done">
    <table class="orangestats">
      <tr>
        <td class="home_team_possession_time_perc"></td>
        <td>Possession</td>
      </tr>
      <tr>
        <td class="home_team_shots_taken_perc"></td>
        <td>Shots Taken</td>
      </tr>
      <tr>
        <td class="home_team_assists_perc"></td>
        <td>Assists</td>
      </tr>
      <tr>
        <td class="home_team_saves_perc"></td>
        <td>Saves</td>
      </tr>
      <tr>
        <td class="home_team_steals_perc"></td>
        <td>Steals</td>
      </tr>
      <tr>
        <td class="home_team_stuns_perc"></td>
        <td>Stuns</td>
      </tr>
    </table>

    <table class="orangeplayerhead playerhead">
      <tr>
        <td>PLAYER</td>
        <td>POINTS</td>
        <td>ASSISTS</td>
        <td>SAVES</td>
        <td>STEALS</td>
        <td>STUNS</td>
        {{!-- <td>POSSESSION</td>
        <td>SHOTS</td> --}}
      </tr>
    </table>

    <table class="orange_player_stats_board playerstats"></table>

    <table class="blueplayerhead playerhead">
      <tr>
        <td>PLAYER</td>
        <td>POINTS</td>
        <td>ASSISTS</td>
        <td>SAVES</td>
        <td>STEALS</td>
        <td>STUNS</td>
        {{!-- <td>POSSESSION</td>
        <td>SHOTS</td> --}}
      </tr>
    </table>

    <table class="blue_player_stats_board playerstats">
    </table>

    <table class="bluestats">
      <tr>
        <td>Possession</td>
        <td class="away_team_possession_time_perc"></td>
      </tr>
      <tr>
        <td>Shots Taken</td>
        <td class="away_team_shots_taken_perc"></td>
      </tr>
      <tr>
        <td>Assists</td>
        <td class="away_team_assists_perc"></td>
      </tr>
      <tr>
        <td>Saves</td>
        <td class="away_team_saves_perc"></td>
      </tr>
      <tr>
        <td>Steals</td>
        <td class="away_team_steals_perc"></td>
      </tr>
      <tr>
        <td>Stuns</td>
        <td class="away_team_stuns_perc"></td>
      </tr>
    </table>

  </div>

  <div class="centered_content">
    <table>
      <thead>
        <tr class="match_group_item">
          <th class="match_time">Match Time</th>
          <th class="session_id">Session ID</th>
          <th class="game_clock_duration">Duration (s of game clock)</th>
          <th class="orange_team_score">Orange Score</th>
          <th class="blue_team_score">Blue Score</th>
          <th class="finish_reason">Finish Reason</th>
          <th class="remove">Remove</th>
        </tr>
      </thead>

      <!-- List -->
      <tbody class="list-group" id="match_list">
        <tr class="match_group_item list-group-item hide">
          <td class="match_id hide"></td>
          <td class="custom_id hide"></td>
          <td class="match_time"></td>
          <td class="session_id"></td>
          <td class="game_clock_duration">
            <div class="game_clock_duration_bar"></div>
          </td>
          <td class="orange_team_score"></td>
          <td class="blue_team_score"></td>
          <td class="finish_reason"></td>
          <td class="remove td_button">X</td>
        </tr>

        {{!-- <tr class="add_match_group_splitter hide">
          <td colspan="15"></td>
        </tr> --}}

        <tr class="match_group_splitter">
          <td colspan="15"></td>
        </tr>
      </tbody>

    </table>
  </div>

  <!-- Add data passed in by the request -->
  <script type="text/javascript">
    client_name = "{{ client_name }}"; custom_id = "{{ custom_id }}"; series_name = "{{ series_name }}"; live = 'true';
  </script>

  <!-- Load our custom Firebase stuff -->
  <script defer src="js/util.js"></script>
  <script defer src="js/firebase_setup.js"></script>
  <script defer src="js/fetch_data_methods.js"></script>

  <script defer src="js/EchoArena/group_recent_matches.js"></script>

</body>

</html>